<!DOCTYPE html>
<html>
  <head>
    <title>THERMOCAT</title>
    <link rel="stylesheet" href="thermostat.css">
  </head>
  <body>
    <section class="temperature">
      <h1>the temperature now</h1>
      <aside>
        <nav>
          <ul>
            <li><a href="#" class="increase_temperature">+</a></li>
            <li><a href="#" class="decrease_temperature">-</a></li>
            <li><a href="#" class="reset">reset</a></li>
          </ul>
        </nav>
        </aside>
    </section>

  <script src="jquery-2.1.1.min.js"></script>
  <script src="thermocat.js"></script>
  <script src="interface.js"></script>
  <script>
    $(document).ready(function() {
      $.get('/weather', function(data) {
        console.log(JSON.parse(data));
      currentTemp = JSON.parse(data)['weather']['curren_weather'][0]['temp'];
      new ThermocatView('.temperature h1', parseInt(currentTemp));
      });
    });
  </script>
  </body>
</html>
